    
   <amp-story standalone poster-portrait-src="../../{{ .Params.featured_imagePortrait }}" publisher-logo-src="../../publisherLogo.jpg" publisher="{{ .Site.Params.businessName }}" title="{{ .Title }}" poster-landscape-src="../../{{ .Params.featured_image }}" poster-square-src="../../{{ .Params.featured_imageSquare }}"    >

      <!-- PAGE 1 STARTS HERE -->
      <amp-story-page id="pqqwhtlhcr" class="pqqwhtlhcr ms-st-pg"  >
         <!-- PAGE BACKGROUND LAYER (pqqwhtlhcr) -->
         <amp-story-grid-layer template="fill" class="pbjabdyp">
            {{ with .Params.page1Img }}

            <amp-img width='720' height='1280' layout='responsive' class='pbjabdy' id='pqqwhtlhcr-bg' src='../../{{ . }}' alt='Mid American Construction Management Project Success Story Image 1' ></amp-img>

            {{ else }}

            <amp-video class="pbdvdhw" layout="responsive" width="720" height="1280" poster="{{ .Params.featured_image }}" autoplay title="" id="pbvpqqwhtlhcr">
                    <source src="{{ .Params.page1Vid }}" type="video/mp4">
            </amp-video>

            {{ end }}

         </amp-story-grid-layer>
         <!-- PAGE BACKGROUND LAYER (pqqwhtlhcr) ENDS -->
         <amp-story-grid-layer template="vertical" id="ocdpp" class="scrim">
            <!-- mokjaekvpz STARTS HERE -->
            <h2 class='csvgg pa' id='mokjaekvpz' >https://midamericanconstructionmanagement.com<br></h2>
            <!-- mokjaekvpz ENDS HERE -->
            <!-- group1 STARTS HERE -->
            <div class='wkcpl pa' id='bwjzdguron' >
            <!-- rzpdsrpfqx STARTS HERE -->
            <h2 class='smjuo pa' id='rzpdsrpfqx' >MIDAMERICAN<br>CONSRUCTION MANAGEMENT</h2>
            <!-- rzpdsrpfqx ENDS HERE -->
            <!-- THE PROBLEM STARTS HERE -->
            <h1 class='ghktj pa' id='eflurroyuo' >{{ .Title | truncate 21 }}</h1>
            <!-- THE PROBLEM ENDS HERE --></div>
            <!-- group1 ENDS HERE -->
         </amp-story-grid-layer>
      
      </amp-story-page>
      <!-- PAGE 1 ENDS HERE -->
      
      <!-- PAGE 2 STARTS HERE -->
      <amp-story-page id="zobbmqavrl" class="zobbmqavrl ms-st-pg"  >
         <!-- PAGE BACKGROUND LAYER (zobbmqavrl) -->
         <amp-story-grid-layer template="fill" class="pbafzczp">
            <amp-img width='720' height='1280' layout='responsive' class='pbafzcz' id='zobbmqavrl-bg' src='{{ .Params.page2Img }}' alt='Mid American Construction Management Project Problems Image' ></amp-img>
         </amp-story-grid-layer>
         <!-- PAGE BACKGROUND LAYER (zobbmqavrl) ENDS -->
         <amp-story-grid-layer template="vertical" id="kunpu" class="scrim">
            <!-- otqvxnldps STARTS HERE -->
            <h1 class='nigkm pa' animate-in='fade-in' animate-in-duration='500ms' id='otqvxnldps' >THE PROBLEM</h1>
            <!-- otqvxnldps ENDS HERE -->
            <!-- ONLY THE MALES ARE ACTUALLY “PEACOCKS” STARTS HERE -->
            <h2 class='xvtel pa' data-animate-in='css-zoom-out' id='pfvquufxkb' >{{ .Params.problemTitle }}</h2>
            <!-- ONLY THE MALES ARE ACTUALLY “PEACOCKS” ENDS HERE -->
            <!-- svg_1 STARTS HERE -->
            <div class='ttuyg pa svg-el' animate-in='fade-in' animate-in-duration='500ms' animate-in-delay='100ms' id='rrakaknuoc' ><svg  preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><path d="M5.7,5.7H494.3V494.3H5.7V5.7Z" fill="#000"></path></svg></div>
            <!-- svg_1 ENDS HERE -->
            <!-- This is a paragraph (p) STARTS HERE -->
            {{ with .Params.problem1 }}<p class='mhqid pa' animate-in='whoosh-in-right' animate-in-duration='500ms' animate-in-after='otqvxnldps' animate-in-delay='200ms' id='xohmqbjcvx' >&gt; {{ . }} <br></p>{{ end }}
            <!-- This is a paragraph (p) ENDS HERE -->
            <!-- This is a paragraph (p) STARTS HERE -->
            {{ with .Params.problem2 }}<p class='nylst pa' animate-in='whoosh-in-right' animate-in-duration='500ms' animate-in-after='xohmqbjcvx' animate-in-delay='100ms' id='edyfgqkcar' >&gt; {{ . }} <br></p>{{ end }}
            <!-- This is a paragraph (p) ENDS HERE -->
            <!-- This is a paragraph (p)_Copy1 STARTS HERE -->
            {{ with .Params.problem3 }}<p class='dpsut pa' animate-in='whoosh-in-right' animate-in-duration='500ms' animate-in-after='edyfgqkcar' animate-in-delay='100ms' id='bmusnrzwac' >&gt; {{ . }} <br></p>{{ end }}
            <!-- This is a paragraph (p)_Copy1 ENDS HERE -->
            <!-- This is a paragraph (p)_Copy STARTS HERE -->
            {{ with .Params.problem4 }}<p class='xqkaq pa' animate-in='whoosh-in-right' animate-in-duration='500ms' animate-in-after='bmusnrzwac' animate-in-delay='100ms' id='kafxwgcypq' >&gt; {{ . }} <br></p>{{ end }}
            <!-- This is a paragraph (p)_Copy ENDS HERE -->
         </amp-story-grid-layer>
      
      </amp-story-page>
      <!-- PAGE 2 ENDS HERE -->
      
      <!-- PAGE 3 STARTS HERE -->
      <amp-story-page id="ttnpyjszmm" class="ttnpyjszmm ms-st-pg"  >
         <!-- PAGE BACKGROUND LAYER (ttnpyjszmm) -->
         <amp-story-grid-layer template="fill" class="pbcrjjhp">
            <amp-img width='720' height='1280' layout='responsive' class='pbcrjjh' id='ttnpyjszmm-bg' src='../../{{ .Params.page3Img }}' alt='Mid American Construction Management Project Solutions Image' ></amp-img>
         </amp-story-grid-layer>
         <!-- PAGE BACKGROUND LAYER (ttnpyjszmm) ENDS -->
         <amp-story-grid-layer template="vertical" id="hkfdn" class="scrim">
            <!-- The Old Website STARTS HERE -->
            <h2 class='ftely pa' animate-in='drop' animate-in-duration='900ms' animate-in-delay='100ms' id='fyrnsrbgqr' >{{ .Params.solutionTitle }}</h2>
            <!-- The Old Website ENDS HERE -->
            <!-- THE PROBLEM STARTS HERE -->
            <h1 class='rkyow pa' animate-in='fade-in' animate-in-duration='500ms' id='ifvlbzpizi' >THE SOLUTION</h1>
            <!-- THE PROBLEM ENDS HERE -->
            <!-- svg_1 STARTS HERE -->
            <div class='gmzwc pa svg-el' animate-in='fade-in' animate-in-duration='500ms' animate-in-after='fyrnsrbgqr' animate-in-delay='100ms' id='xsyzuptntl' ><svg  preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><path d="M5.7,5.7H494.3V494.3H5.7V5.7Z" fill="#000"></path></svg></div>
            <!-- svg_1 ENDS HERE -->
            <!-- &gt; Client couldn't update<br> STARTS HERE -->
            <p class='qnetx pa' animate-in='fade-in' animate-in-duration='500ms' animate-in-after='ifvlbzpizi' animate-in-delay='200ms' id='kacbrssztw' >&gt; {{ .Params.solution1 }}<br></p>
            <!-- &gt; Client couldn't update<br> ENDS HERE -->
            <!-- <span style="font-size: 25px;">&gt; No motorcycles listed</span> STARTS HERE -->
            <p class='faldg pa' animate-in='fade-in' animate-in-duration='500ms' animate-in-after='kacbrssztw' animate-in-delay='100ms' id='xaavxihoke' ><span style="font-size: 25px;">&gt;&nbsp;</span>{{ .Params.solution2 }}</p>
            <!-- <span style="font-size: 25px;">&gt; No motorcycles listed</span> ENDS HERE -->
            <!-- <span style="font-size: 25px;">&gt; Little to no traffic</span> STARTS HERE -->
            <p class='ciawl pa' animate-in='fade-in' animate-in-duration='500ms' animate-in-after='xaavxihoke' animate-in-delay='100ms' id='wpudiwkvza' ><span style="font-size: 25px;">&gt;&nbsp;</span>{{ .Params.solution3 }}</p>
            <!-- <span style="font-size: 25px;">&gt; Little to no traffic</span> ENDS HERE -->
            <!-- <span style="font-size: 25px;">&gt; No discernible&nbsp;</span><span style="">website&nbsp;</span><span style="font-size: 25px;">ROI</span> STARTS HERE -->
            <p class='moyps pa' animate-in='fade-in' animate-in-duration='500ms' animate-in-after='wpudiwkvza' animate-in-delay='100ms' id='zqcduhidwa' ><span style="font-size: 25px;">&gt;&nbsp;</span>{{ .Params.solution4 }}</p>
            <!-- <span style="font-size: 25px;">&gt; No discernible&nbsp;</span><span style="">website&nbsp;</span><span style="font-size: 25px;">ROI</span> ENDS HERE -->
         </amp-story-grid-layer>
      
      </amp-story-page>
      <!-- PAGE 3 ENDS HERE -->
      
      <!-- PAGE 4 STARTS HERE -->
      <amp-story-page id="qkwhkwfkru" class="qkwhkwfkru ms-st-pg"  >
         <!-- PAGE BACKGROUND LAYER (qkwhkwfkru) -->
         <amp-story-grid-layer template="fill" class="pbxtdkwp">
            <amp-img width='720' height='1280' layout='responsive' class='pbxtdkw' id='qkwhkwfkru-bg' src='../../{{ .Params.page4Img }}' alt='Mid American Construction Management Project Completed Image' ></amp-img>
         </amp-story-grid-layer>
         <!-- PAGE BACKGROUND LAYER (qkwhkwfkru) ENDS -->
         <amp-story-grid-layer template="vertical" id="nwlox" class="scrim">
            <!-- THE PROBLEM STARTS HERE -->
            <h1 class='iwnuj pa' animate-in='twirl-in' animate-in-duration='500ms' id='onkkffhgef' >THE SUCCESS</h1>
            <!-- THE PROBLEM ENDS HERE -->
            <!-- The Old Website STARTS HERE -->
            <h2 class='eitbh pa' data-animate-in='css-zoom-out' id='mragwsscee' >{{ .Params.successTitle }}</h2>
            <!-- The Old Website ENDS HERE -->
         </amp-story-grid-layer>
      
      </amp-story-page>
      <!-- PAGE 4 ENDS HERE -->
      
      <!-- PAGE 5 STARTS HERE -->
      <amp-story-page id="gzccscprov" class="gzccscprov ms-st-pg"  >
         <!-- PAGE BACKGROUND LAYER (gzccscprov) -->
         <amp-story-grid-layer template="fill" class="pbvmzvop">
            <amp-img width='720' height='1280' layout='responsive' class='pbvmzvo' id='gzccscprov-bg' src='{{ .Params.page5Img }}' alt='Mid American Construction Management Success Story Image' ></amp-img>
         </amp-story-grid-layer>
         <!-- PAGE BACKGROUND LAYER (gzccscprov) ENDS -->
         <amp-story-grid-layer template="vertical" id="bzkyn" class="scrim">
            <!-- Heading 2 STARTS HERE -->
            <h2 class='zbezu pa' id='obedtchnlt' ></h2>
            <!-- Heading 2 ENDS HERE -->
            <!-- THE PROBLEM STARTS HERE -->
            <h1 class='dfxfq pa' animate-in='whoosh-in-right' animate-in-duration='900ms' id='obkjuhlavo' >THE REVIEW</h1>
            <!-- THE PROBLEM ENDS HERE -->
            <!-- svg_7 STARTS HERE -->
            <div class='eduax pa svg-el' id='kqpetpuzbm' ><svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
  <path d="M22,37V34H283v3H22Z" fill="rgba(255,255,255,1)"></path>
  <path data-name="Shape 4 copy" d="M22,266v-3H283v3H22Z" fill="rgba(255,255,255,1)"></path>
  <path data-name="Shape 4 copy 2" d="M36,20h3V281H36V20Z" fill="rgba(255,255,255,1)"></path>
  <path data-name="Shape 4 copy 3" d="M266,20h3V281h-3V20Z" fill="rgba(255,255,255,1)"></path>
</svg></div>
            <!-- svg_7 ENDS HERE -->
            <!-- svg_2_Copy1 STARTS HERE -->
            <div class='uprjv pa svg-el' id='wzrobhziqq' ><svg preserveAspectRatio="none" viewBox="0 -14 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m512 185.113281-177.265625-25.59375-78.734375-159.519531-78.734375 159.519531-177.265625 25.59375 128.617188 124.171875-30.089844 175.34375 157.472656-82.792968 157.472656 82.792968-30.089844-175.34375zm0 0" fill="rgba(245,255,9,1)"></path></svg></div>
            <!-- svg_2_Copy1 ENDS HERE -->
            <!-- svg_2_Copy2 STARTS HERE -->
            <div class='oygqx pa svg-el' id='mfmxkrodwb' ><svg preserveAspectRatio="none" viewBox="0 -14 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m512 185.113281-177.265625-25.59375-78.734375-159.519531-78.734375 159.519531-177.265625 25.59375 128.617188 124.171875-30.089844 175.34375 157.472656-82.792968 157.472656 82.792968-30.089844-175.34375zm0 0" fill="rgba(245,255,9,1)"></path></svg></div>
            <!-- svg_2_Copy2 ENDS HERE -->
            <!-- svg_2_Copy3 STARTS HERE -->
            <div class='xzndj pa svg-el' id='rjhjoghjra' ><svg preserveAspectRatio="none" viewBox="0 -14 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m512 185.113281-177.265625-25.59375-78.734375-159.519531-78.734375 159.519531-177.265625 25.59375 128.617188 124.171875-30.089844 175.34375 157.472656-82.792968 157.472656 82.792968-30.089844-175.34375zm0 0" fill="rgba(245,255,9,1)"></path></svg></div>
            <!-- svg_2_Copy3 ENDS HERE -->
            <!-- svg_2_Copy4 STARTS HERE -->
            <div class='unebk pa svg-el' id='ahndeiohqc' ><svg preserveAspectRatio="none" viewBox="0 -14 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m512 185.113281-177.265625-25.59375-78.734375-159.519531-78.734375 159.519531-177.265625 25.59375 128.617188 124.171875-30.089844 175.34375 157.472656-82.792968 157.472656 82.792968-30.089844-175.34375zm0 0" fill="rgba(245,255,9,1)"></path></svg></div>
            <!-- svg_2_Copy4 ENDS HERE -->
            <!-- svg_2_Copy5 STARTS HERE -->
            <div class='dhnqe pa svg-el' id='qovuaxdoih' ><svg preserveAspectRatio="none" viewBox="0 -14 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m512 185.113281-177.265625-25.59375-78.734375-159.519531-78.734375 159.519531-177.265625 25.59375 128.617188 124.171875-30.089844 175.34375 157.472656-82.792968 157.472656 82.792968-30.089844-175.34375zm0 0" fill="rgba(245,255,9,1)"></path></svg></div>
            <!-- svg_2_Copy5 ENDS HERE -->
            <!-- This is a paragraph (p) STARTS HERE -->
            <p class='uurea pa' id='qmutggzqwm' >{{ .Params.reviewSummary }}</p>
            <!-- This is a paragraph (p) ENDS HERE -->
            <!-- Heading 2 STARTS HERE -->
            <h2 class='wnlcl pa' id='gfptqchnbr' >Client Review</h2>
            <!-- Heading 2 ENDS HERE -->
            <!-- This is a paragraph (p) STARTS HERE -->
            <p class='ttxyb pa' id='btdjamrudk' >Review Date: {{ .Params.reviewDate }}</p>
            <!-- This is a paragraph (p) ENDS HERE -->
         </amp-story-grid-layer>
      
      </amp-story-page>
      <!-- PAGE 5 ENDS HERE -->
      
      <!-- PAGE 6 STARTS HERE -->
      <amp-story-page id="eyklajzmpy" class="eyklajzmpy ms-st-pg"  >
         <!-- PAGE BACKGROUND LAYER (eyklajzmpy) -->
         <amp-story-grid-layer template="fill" class="pbyldufp">
            <amp-img width='720' height='1280' layout='responsive' class='pbylduf' id='eyklajzmpy-bg' src='{{ .Params.page6Img }}' alt='Mid American Construction Management Project Details Image' ></amp-img>
         </amp-story-grid-layer>
         <!-- PAGE BACKGROUND LAYER (eyklajzmpy) ENDS -->
         <amp-story-grid-layer template="vertical" id="yukbe" class="scrim">
            <!-- vjlckmukxz STARTS HERE -->
            <h2 class='bfznp pa' id='vjlckmukxz' >specifications</h2>
            <!-- vjlckmukxz ENDS HERE -->
            <!-- rqteymmamn STARTS HERE -->
            <h2 class='ngcet pa' id='rqteymmamn' >{{ .Params.projectSpecs }}</h2>
            <!-- rqteymmamn ENDS HERE -->
            <!-- NEXT SLIDE STARTS HERE -->
            <h1 class='uzunk pa' animate-in='whoosh-in-right' animate-in-duration='900ms' id='lmykfgftwf' >PROJECT DETAILS</h1>
            <!-- NEXT SLIDE ENDS HERE -->
         </amp-story-grid-layer>
      
      </amp-story-page>
      <!-- PAGE 6 ENDS HERE -->
      
      <!-- PAGE 7 STARTS HERE -->
      <amp-story-page id="fffriufvxe" class="fffriufvxe ms-st-pg"  >
         <!-- PAGE BACKGROUND LAYER (fffriufvxe) -->
         <amp-story-grid-layer template="fill" class="pbmvwpjp">
            <amp-img width='720' height='1280' layout='responsive' class='pbmvwpj' id='fffriufvxe-bg' src='{{ .Params.page7Img }}' alt='Mid American Construction Management Project Image' ></amp-img>
         </amp-story-grid-layer>
         <!-- PAGE BACKGROUND LAYER (fffriufvxe) ENDS -->
         <amp-story-grid-layer template="vertical" id="wpyho" >
            <!-- svg_1 STARTS HERE -->
            <div class='iblbm pa svg-el' id='klcbcjqcqa' ><svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><path d="M5.7,5.7H494.3V494.3H5.7V5.7Z" fill="rgba(255,255,255,1)"></path></svg></div>
            <!-- svg_1 ENDS HERE -->
            <!-- cta_1 STARTS HERE -->
            
            <!-- cta_1 ENDS HERE -->
            <!-- image_1 STARTS HERE -->
            <div class='rmyss pa' id='wstloucdcv' ><amp-img width='273' height='60' layout='responsive' class=' img-fill  pa ' src='../../logo.png' alt='Mid American Construction Management logo Image' ></amp-img></div>
            <!-- image_1 ENDS HERE -->
         </amp-story-grid-layer>
         <amp-story-cta-layer>
            <a class='pxuin pa cta-a' href='https://midamericanconstructionmanagement.com/contact' id='mvxodailos' data-vars-ctalink='https://midamericanconstructionmanagement.com/contact' ><span>DISCUSS YOUR PROJECT</span></a>
         </amp-story-cta-layer>
      
      </amp-story-page>
      <!-- PAGE 7 ENDS HERE -->
      
      <amp-analytics type="gtag" data-credentials="include">
    <script type="application/json">
    {
        "vars": {
            "gtag_id": "UA-42675935-1",
            "config":{
                "UA-42675935-1":{
                    "groups":"default"
                }
            }
        },
        "triggers": {
            "storyProgress": {
                "on": "story-page-visible",
                "vars": {
                    "event_name": "custom",
                    "event_action": "story_progress",
                    "event_category": "${title}",
                    "event_label": "${storyPageId}",
                    "send_to": ["UA-42675935-1"]
                }
            },
            "storyEnd": {
                "on": "story-last-page-visible",
                "vars": {
                    "event_name": "custom",
                    "event_action": "story_complete",
                    "event_category": "${title}",
                    "send_to": ["UA-42675935-1"]
                }
            },
            "anchorClicks": {
                "on": "click",
                "request": "pageview",
                "selector": "a.cta-a",
                "vars": {
                    "event_name": "custom",
                    "event_action": "cta_clicked",
                    "event_category": "${title}",
                    "event_label": "${ctalink}",
                    "send_to": ["UA-42675935-1"]
                }
            }
        }
    }
    </script>
    </amp-analytics>
      <amp-story-bookend src="https://onl.st/project/bookend.json" layout="nodisplay"></amp-story-bookend>    
</amp-story>